body {
  margin:0;
}
.row {
  width: 100%;
}
.row-6 {
  aspect-ratio: 96 / 9;
}
.row-5 {
  aspect-ratio: 80 / 9;
}
.row-4 {
  aspect-ratio: 64 / 9;
}
.row-1 {
  aspect-ratio: 192 / 9;
}
.row-6 .thumb {
  width: 16.6666667%;
}
.row-5 .thumb {
  width: 20%;
}
.row-4 .thumb {
  width: 25%;
}
.row-1 .thumb {
  width: 100%;
}

.thumb.active {
  outline: 1px solid red;
  outline-offset: -1px;
}
.thumb {
  box-sizing: border-box;
  padding: 2px 5px;
  width: 16.666666%;
  aspect-ratio: 16 / 9;
  display: inline-block;
  vertical-align: top;
  font-weight: 1000;
  text-decoration: none;
  color: white;
  text-shadow: 
    0px 0px 2px black,
    0px 0px 2px black,
    0px 0px 2px black,
    0px 0px 2px black,
    0px 0px 2px black;
  background: red var(--url0) no-repeat;
  background-size: auto 100%;
}
